{% extends 'recipes/base.html' %}

{% block title %}

{% endblock %}

{% block content %}
<header>
    <nav>
        <ul>
            <li><a href = "{% url 'recipe_list' %}"> Main Page</a></li>
        </ul>
    </nav>
</header>
<main>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
      </form>
</main>
{% endblock %}

