{% extends 'recipes/base.html' %}

{% block title %}

{% endblock %}

{% block content %}
<nav>
    <ul>
        <li><a href = "{% url 'recipe_list' %}"> Main Page</a></li>
    </ul>

</nav>
<main>
<h1>
    <h1>{{ recipe_object.title }}</h1>
    <a href = "{% url 'edit_recipe' recipe_object.id %}"> Edit this post</a>
</h1>
<div>
    <a href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src = "{{ recipe_object.picture }}" height="300" width=500></a>
</div>
<div>
    4.3 stars
</div>
<p>{{ recipe_object.description }}</p>
<h2>
    Ingredients
</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Amount
            </th>
            <th>
                Food Item
            </th>
        </tr>
    </thead>
    <tbody>
       {% for ingredient in recipe_object.ingredients.all %}
       <tr>
        <td>{{ingredient.amount}}</td>
        <td>{{ingredient.food_item}}</td>
       </tr>
       {% endfor %}
    </tbody>
</table>
<h2>
    Steps
</h2>
<ol>
    {% for step in recipe_object.steps.all %}
        <li>{{step.instruction}}</li>
    {% endfor %}
</ol>
</main>
{% endblock %}
