{% extends 'recipes/base.html' %}

{% block title %}

{% endblock %}

{% block content %}
<header>
    <nav>
        <ul>
            <li><a href = "{% url 'recipe_list' %}"> Main Page</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Edit {{ post_object.title }}</h1>
    <form method="post">
      {% csrf_token %}
      {{ recipe_form.as_p }}
      <button>Save</button>
    </form>
</main>
{% endblock content %}


