{% extends 'recipes/base.html' %}

{% block title %}

{% endblock %}

{% block content %}
<header>
    <nav>
        <ul>
            <li><a href="{% url 'recipe_list' %}"> Main Page</a></li>
            <li><a href= "{% url 'create_recipe' %}"> Create a recipe</a></li>
        </ul>
        {% if user.is_authenticated %}
        Hello, {{user.username}}
        <a href="{% url 'user_logout' %}"> Logout</a>
        {% else %}
            <a href="{% url 'signup' %}">Sign up</a>
            <a href="{% url 'user_login' %}"> Login</a>
        {% endif %}
    </nav>

</header>

<main>
    <h1> Scrumptious Recipesss</h1>
    <h2> All the food that's fit to eat</h2>

<div class = "taco-pics">
    {% for recipe in recipe_list %}
    <div class="pic1">
        <h3>
            <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
            <p> {{ recipe.created_on|date:" d M Y" }} </p>
        </h3>
        <a href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img src = {{recipe.picture}} height="200" width="200"></a>
        <div>4.3 stars</div>
    </div>
    {% endfor %}
</div>
</main>
{% endblock content %}
